@model Bookish.MVCWeb.Models.BookModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Our Books</h1>

    <div style="overflow: scroll" class="scroll-container">
        @foreach (var book in Model.Books)
        {
            <a onclick="#">
                <div class="book-item">
                    <div class="image-container d-inline-block">
                        <img title="Book Cover" width="160" height="160" alt="Photo of book cover" src="@book.CoverPhotoUrl">
                    </div>
                    <div class="text-container d-inline-block">
                        <h3>@book.Title</h3><br />
                        <p>@book.Author</p>
                    </div>
                </div>
            </a>
            <div style="display: none">
                <p>
                    @book.ISBN<br />
                    @book.NumberOfCopiesAvailable<br />
                </p>
            </div>
        }

    </div>
    
</div>
